# Logging and storage
dir_temp: /temp/camel
logging:
  format: '%(asctime)s - %(name)s - %(funcName)s - %(levelname)s - %(message)s'
  store_logs: true
  dir_logs: /logs/camel

# Configuration
use_lmod: false
